
*{
margin: 0 auto;
}
body{
    background-color: #0079BF;
    font-family: 'Lato', sans-serif;
  }


.container{
width: 100%;
background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg);
background-repeat: no-repeat;
background-position: center;
background-size: 90px;
position: fixed;
background-color: #0067A3;
height: 4em;
text-align: center;
color: white;
font-size: 15px;
font-weight: 600;

}

.nombre{
    margin-top: 0.6em;
    background-color: #569BC4;
    padding: 0.3em 1em;
    border-radius: 5px;
}

.buscador{

    background-color: #569BC4;
    opacity: 0.8;
    margin-left:-500px;
    margin-top: 16px;
    height: 15px;

}


.tableros{
    position: absolute;
    background-color: #569BC4;
    width: 15%;
    height: 40%;
    margin-left:10px;
    margin-top: 15px;
}

.fa-trello{
  float:left;
  margin-left: 40px;
  margin-top: 4px;
}
.fa-search{
display: inline-block;
position: absolute;
margin-top: 20px;
margin-left: -160px;
}


.titulo{
font-size: 10px;
margin-top: 20px;
text-align: left;
}


#container{
position: absolute;
margin-top: 50px;
}
#contiene{
position: absolute;
margin-top:200px;
}
#btn{
background-color: #0067A3;
border:none;
margin-left: 30px;
width: 150px;
height: 30px;
border-radius: 5px;
}

#btn::after{
content:"";
display: none;
overflow: hidden;

}

input{
 background:rgba(222, 214, 214, 0.93);
 margin-top: 60px;
 height: 60px;
 margin-left: 10px;

}
button{
background-color:#8BC34A;
color:white;
position: absolute;
margin-top: 100px;
margin-left: 20px;
}
